{{#if hasPrefix}}
  <span class="input-group-addon">{{prefix}}</span>
{{/if}}
{{input type='text' value=computedValue class='form-control' placeholder=placeholder}}
{{#if hasSuffix}}
  <span class="input-group-addon">{{suffix}}</span>
{{/if}}
<span class="input-group-btn">
  <button type="button" class="btn btn-default" {{action 'toggleCalendar'}}>
    <span class="glyphicon glyphicon-time"></span>
  </button>
</span>
