<div class="btn-group" role="group" aria-label="...">
  {{#each selectOptions as |selectOption|}}
    {{command-button action=(action 'valueSelected' selectOption.value) active=(is-equal selectOption.value value) label=selectOption.label}}
  {{/each}}
</div>
