{{#if prefix}}
  <span class="input-group-addon prefix">{{@prefix}}</span>
{{/if}}
{{input type='text' value=this.computedValue class=this.computedClass placeholder=@placeholder id=@inputId}}
{{#if suffix}}
  <span class="input-group-addon suffix">{{@suffix}}</span>
{{/if}}
