{{#if isBlock}}
  <label class="control-label {{componentName}}" for="{{inputId}}">
    {{labelComputed}}
  </label>
{{/if}}

{{component componentName model=model field=field placeholder=placeholder styleClass=styleClass prefix=prefix suffix=suffix minDate=minDate maxDate=maxDate showButton=showButton inputId=inputId inline=inline}}
