# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/addon/dist
/test-app/dist

# dependencies
/node_modules
/addon/node_modules
/test-app/node_modules

# Logs
logs
*.log

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
yarn-error.log
