{{#if hasPrefix}}
  {{prefix}}
{{/if}}

<span class={{if (or value (eq value 0)) 'value' 'value empty'}}>
  {{number-format value fieldSettings.locale numberOptions}}
</span>

{{#if hasSuffix}}
  {{suffix}}
{{/if}}
