<div class="form-control toggle-switch">
  <input type="checkbox" hidden="hidden" checked={{value}} onchange={{action 'valueChanged'}} id={{inputId}}/>
  <label class="ts-helper" {{action 'valueChanged'}} ></label>
</div>
