{{#if hasPrefix}}
  <span class="input-group-addon">{{prefix}}</span>
{{/if}}
{{input type='datetime-local' value=computedValue class=inputStyleClass placeholder=placeholder}}
{{#if hasSuffix}}
  <span class="input-group-addon">{{suffix}}</span>
{{/if}}
