{{#if hasPrefix}}
  <span class="input-group-addon prefix">{{prefix}}</span>
{{/if}}
{{input type='datetime-local' value=computedValue class=inputStyleClass placeholder=placeholder id=inputId}}
{{#if hasSuffix}}
  <span class="input-group-addon suffix">{{suffix}}</span>
{{/if}}
