<h2>
  Text
</h2>
<InputField @model={{this}} @field="name" />
<br>
<OutputField @model={{this}} @field="name" />
<hr>
<InputField::Text @model={{this}} @field="name"  />
<br>
<OutputField::Text @model={{this}} @field="name"  />
<hr>
<InputField @model={{this}} @field="firstName" />
<InputField @model={{this}} @field="nickName" @prefix="Friends call him..." />
<hr>
<InputField @model={{this.dummy}} @field="name" />
<br>
<OutputField @model={{this.dummy}} @field="name" />
<hr>
<h2>
  Number
</h2>
<InputField @model={{this}} @field="age" @disabled={{false}} />
<InputField::Number @model={{this}} @field="age" />
<InputField @model={{this}} @field="price" @suffix="abc" />

<h2>
  Checkbox
</h2>
<InputField @model={{this.dummy}} @field="verified" />

<h2>
  Switch
</h2>
<InputField @model={{this.dummy}} @field="active" />

<h2>
  Email
</h2>
<InputField @model={{this}} @field="email" />