{{#if hasPrefix}}
 {{prefix}}
{{/if}}

<span class="value">
  {{value}}
</span>

{{#if hasSuffix}}
  {{suffix}}
{{/if}}

{{#if isButtonGroup}}
  <a class="btn btn-default" href="tel:{{value}}">
    <span class="glyphicon glyphicon-earphone"></span>
  </a>
{{/if}}
