<div class="input-switch toggle-switch">
  <input type="checkbox" hidden="hidden" checked={{value}} onchange={{action 'valueChanged'}} />
  <label class="ts-helper" {{action 'valueChanged'}} ></label>
</div>
