<div class="input-select-search">
  <select class="selectpicker" {{action 'valueSelected' on='change'}} tabindex="-1">
    {{#each selectoptions as |selectoption|}}
      {{option-selected selectoption value}}
    {{/each}}
  </select>
</div>
