<div class="output-switch toggle-switch">
  {{#if value}}
    <input type="checkbox" hidden="hidden" checked="checked" />
  	<span class="ts-helper"></span>
  {{else}}
  	<span class="ts-helper"></span>
  {{/if}}
</div>
