{{#if hasPrefix}}
 {{prefix}}
{{/if}}

{{value}}

{{#if hasSuffix}}
  {{suffix}}
{{/if}}

{{#if isButtonGroup}}
  <span class="input-group-btn">
    <a class="btn btn-default" href="mailto:{{value}}">
      <span class="glyphicon glyphicon-envelope"></span>
    </a>
  </span>
{{/if}}
