{{#if hasPrefix}}
  <span class="input-group-addon">{{prefix}}</span>
{{/if}}
{{input type='tel' value=computedValue class=inputStyleClass placeholder=placeholder id=inputId}}
{{#if hasSuffix}}
  <span class="input-group-addon">{{suffix}}</span>
{{/if}}
