.input.lookup .modal .object-list .object-list-row {
  cursor: pointer;
}
.input.lookup .lookup-toggle {
  width: 100%;
  text-align: left;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border: 1px solid #ccc;
}
.input.lookup .lookup-toggle:hover {
  background-color: white;
  border: 1px solid #ccc;
}
.input.lookup > button {
  font-weight: normal !important;
}

.placeholder {
  color: #9d9d9d;
}
