<aside id="sidebar" class={{if sidebarShown 'toggled'}}>
  <div class="sidebar-inner">
    <div class="si-inner">
      <div class="profile-menu">
        <div id="userMenu" {{action "toggleUserMenu"}}>
          <div class="profile-pic">
            <img src="assets/img/profile-pics/4.jpg" alt="">
          </div>

          <div class="profile-info">
            Pieterjan
            {{#if userMenuShown}}
              <i class="zmdi zmdi-caret-down"></i>
            {{else}}
              <i class="zmdi zmdi-caret-up"></i>
            {{/if}}
          </div>
        </div>

        {{#if userMenuShown}}
          <ul class="main-menu">
            {{#sidebar-link target="sidebarTransition" route="settings"}}
              <i class="zmdi zmdi-settings"></i> Settings
            {{/sidebar-link}}
            {{#sidebar-link target="sidebarTransition" route="profile"}}
              <i class="zmdi zmdi-account"></i> View Profile
            {{/sidebar-link}}
            {{#sidebar-link target="invalidateSession"}}
              <i class="zmdi zmdi-time-restore"></i> Logout
            {{/sidebar-link}}
          </ul>
        {{/if}}
      </div>

      <ul class="main-menu">
        {{#sidebar-link target="sidebarTransition" route="index"}}
          <i class="zmdi zmdi-home"></i> Home
        {{/sidebar-link}}
        {{#sidebar-link target="sidebarTransition" route="account"}}
          <i class="zmdi zmdi-folder"></i> Accounts
        {{/sidebar-link}}
        {{#sidebar-link target="sidebarTransition" route="contact"}}
          <i class="zmdi zmdi-accounts"></i> Contacts
        {{/sidebar-link}}
        {{#sidebar-link target="sidebarTransition" route="opportunity"}}
          <i class="zmdi zmdi-star-circle"></i> Opportunities
        {{/sidebar-link}}
        {{#sidebar-link target="sidebarTransition" route="product"}}
          <i class="zmdi zmdi-shopping-basket"></i> Products
        {{/sidebar-link}}
        {{#sidebar-link target="sidebarTransition" route="price-list"}}
          <i class="zmdi zmdi-format-list-numbered"></i> Price Lists
        {{/sidebar-link}}

        <div style="display: none;">
          <i class="zmdi zmdi-shopping-cart"></i> Orders
          <i class="zmdi zmdi-money"></i> Invoices
        </div>
      </ul>
    </div>
  </div>
</aside>
